.toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 12px;
  border-bottom: 1px solid #4f4f4f;
}

.toolbar button {
  font-size: 16px;
  line-height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.editor {
  font-size: 24px;
  line-height: 32px;
  padding: 24px;
  outline: none;
}

html, body, :root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.option .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f4f4f;
}

.option .left * {
  padding: 12px 0 12px 24px;
}

.option .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #828282;
  padding-right: 24px;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.file {
  top: 36px;
  left: 24px;
  width: 300px;
  z-index: 8;
}

.file:focus {
  display: block;
}

.share {
  top: 36px;
  left: 74px;
  width: 220px;
  z-index: 8;
}

.popup-menu, .file, .share {
  display: none;
  position: absolute;
  padding: 12px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

@supports ((-webkit-transform: scale3d(0, 0, 0)) or (transform: scale3d(0, 0, 0))) {
  .popup-menu, .file, .share {
    display: block;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    -o-transition: -o-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .active-popup-menu {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.active-popup-menu {
  display: block;
}
