// $gray1: #4f4f4f;
$gray2: #4f4f4f;
$gray3: #828282;

// Elevations
$dp8:   0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);