.contextMenu {
  position: fixed;
  z-index: 100;
  width: 300px;
  background-color: hsl(0, 0%, 18%);
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 12px 17px 2px rgb(0 0 0 / 14%), 0 5px 22px 4px rgb(0 0 0 / 12%);
  color: hsl(0, 0%, 85%);
  border-radius: 6px;
  user-select: none;
}