.container {
  background-color: hsl(0, 0%, 20%);
  width: 56px;

  .option {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    color: hsl(0, 0%, 60%);

    &:hover {
      color: hsl(0, 0%, 90%);
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .active {
    color: hsl(0, 0%, 100%);
  }
}