.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  color: hsl(0, 0%, 75%);
  background-color: hsl(0, 0%, 15%);

  .items {
    display: grid;
    text-align: center;
    align-self: stretch;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 16px;
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 6px;

    &:hover {
      color: hsl(0, 0%, 90%);
      background-color: hsl(0, 0%, 20%);
    }

    &:active {
      background-color: hsl(0, 0%, 25%);
    }

    svg {
      width: 56px;
      height: 56px;
    }
  }

  .breadcrumbs {
    display: flex;
    align-items: center;
    overflow-x: auto;

    .breadcrumb {
      user-select: none;
      padding: 8px 16px;
      white-space: nowrap;

      &:not(:last-child) {
        cursor: pointer;
      }

      &:hover:not(:last-child) {
        color: hsl(0, 0%, 90%);
      }

      &:active:not(:last-child) {
        background-color: hsl(0, 0%, 20%);
      }
    }
  }
}

.emptyFolderShowCase {
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  user-select: none;
}