.folder {
  .name {
    cursor: pointer;
  }

  .child {

    .folder, .file {
      cursor: pointer;
      padding-left: 14px;
      margin-left: 2px;
      box-shadow: inset 1px 0 rgb(54, 54, 54);

      &:hover {
        box-shadow: inset 1px 0 rgb(255, 102, 255);
      }
      &:first-child {
        margin-top: 4px;
      }
    }
    
  }
}