.folder, .file {
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    .left, .right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .left {
      gap: 8px;
    }

    .right > * {
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }

    &:hover .right > *, &:focus .right > * {
      opacity: 1;
    }
  }
}

.folder, .file {
  cursor: pointer;
  padding-left: 14px;
  margin-left: 2px;
  box-shadow: inset 1px 0 rgb(54, 54, 54);
  text-decoration: none;
  color: currentColor;

  &:hover {
    box-shadow: inset 1px 0 rgb(255, 102, 255);
    & > .name {
      color: #ddd;
    }
  }
  &:first-child {
    margin-top: 4px;
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}n) {
      animation: bringin #{$i * 100}ms ease-out forwards;
    }
  }
}

@keyframes bringin {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.entry {
  display: flex;
  gap: 8px;
  align-items: stretch;
  user-select: none;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 150ms ease-in-out;
  }
}

.turn90 {
  transform: rotateZ(90deg);
}

.workspaceName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  .left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .left {
    gap: 8px;
  }
}

.empty {
  margin-top: min(64px, 10%);
}

.iconButton {
  padding: 8px;
  border-radius: 4px;
  &:hover {
    background: hsl(0, 0%, 25%);
  }

  @media (any-pointer: coarse) {
    padding: 16px;
  }
}