.folder {
  .name {
    cursor: pointer;
  }
}

.folder, .file {
  cursor: pointer;
  padding-left: 14px;
  margin-left: 2px;
  box-shadow: inset 1px 0 rgb(54, 54, 54);
  text-decoration: none;
  color: currentColor;

  &:hover {
    box-shadow: inset 1px 0 rgb(255, 102, 255);
  }
  &:first-child {
    margin-top: 4px;
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}n) {
      animation: bringin #{$i * 100}ms ease-out forwards;
    }
  }
}

@keyframes bringin {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.entry {
  display: flex;
  gap: 8px;
  align-items: stretch;
  user-select: none;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 150ms ease-in-out;
  }
}

.turn90 {
  transform: rotateZ(90deg);
}

.workspaceName {
  margin-bottom: 8px;
}