@import "../theme";

.option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    .left {
        display: flex;
        color: $gray2;
        * {
            padding: 12px 0 12px 24px;
        }
    }
    .right {
        display: flex;
        font-size: 14px;
        color: $gray3;
        padding-right: 24px;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}