.contextMenu {
  position: fixed;
  z-index: 100;
  width: 300px;
  background-color: hsl(0, 0%, 18%);
  box-shadow: 0 7px 8px -4px rgb(0 0 0 / 20%), 0 12px 17px 2px rgb(0 0 0 / 14%), 0 5px 22px 4px rgb(0 0 0 / 12%);
  color: hsl(0, 0%, 85%);
  border-radius: 6px;
  user-select: none;
  animation: bringin 150ms ease-out forwards;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px 0;

  hr {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    height: 1.5px;
    border: none;
    background-color: hsl(0, 0%, 25%);
  }

  button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;

    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    color:hsl(0, 0%, 80%);
    font-size: 16px;
    line-height: normal;
    cursor: pointer;

    &:hover {
      color: hsl(0, 0%, 90%);
      background-color: hsl(0, 0%, 20%);
    }

    &:active {
      background-color: hsl(0, 0%, 22%);
    }

    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-basis: 24px;
    }

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }
}

@keyframes bringin {
  from {
    transform-origin: top left;
    transform: scale3d(0.5, 0.5, 0.5) translateY(10%);
    opacity: 0;
  }
  to {
    transform-origin: top left;
    transform: scale3d(1, 1, 1) translateY(0);
    opacity: 1;
  }
}