.file {
    top: 36px;
    left: 24px;
    width: 300px;
    z-index: 8;
    @extend .popup-menu;
    &:focus {
        display: block;
    }
}
.share {
    top: 36px;
    left: 74px;
    width: 220px;
    z-index: 8;
    @extend .popup-menu;
}
.popup-menu {
    display: none;
    position: absolute;
    padding: 12px 0;
    border-radius: 10px;
    box-shadow: $dp8;
    background-color: #fff;
}
@supports (transform: scale3d(0, 0, 0)) {
    .popup-menu {
        display: block;
        transform: scale3d(0, 0, 0);
        transition: transform 150ms ease-in-out;
        transform-origin: 0 0;
    }
    .active-popup-menu {
        transform: scale3d(1, 1, 1);
    }
}
.active-popup-menu {
    display: block;
}
